.body{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: rgb(98, 209, 170);
}

.container{
	display: flex;
	justify-content: center;
	/* border: 2px solid red; */
	align-items: center;
	flex-direction: column;
	height: 60vh;
	width: 30vw;
	background-color: aquamarine;
	border-radius: 40px;
	padding-top: 20px;
	box-shadow: 10px 10px gray;
}

.h1{
	padding: 40px;
}

.credContainer{
	/* border: solid 2px black; */
	border-radius: 40px;
	height: 50px;
	width: 18vw;
	margin: 10px;
	text-align: center;
	/* background-color: rgb(231, 226, 226); */
	font-size: large;
}

#button{
	height: 30px;
	width: 9vw;
	margin: 30px;
	border-radius: 30px;
	box-shadow: 5px 5px gray;
	font-size: medium;
	/* border: solid 2px black; */
}

.form{
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	height: 50vh;
	width:20vw;
	
}

.footerForm{
	display: flex;
	padding: 10px;
	/* margin: 20px; */
}

.link{
	text-decoration: none;
	margin-left: 5px;
}