.nav_container{
    margin-left: 25%;
    margin-right: 30%;
}

.img{
    width: 1.75rem;
    margin-right: .1rem;
}

.img_navigation{
    margin-right: .25rem;
    margin-bottom: -.27rem;
}

.link{
    text-decoration: none;
}

.title{
    font-size: 2rem;
    margin-bottom: 3rem;
}

.nav_items{
    display: inline-block;
    padding: .75rem;
    font-size: 1.5rem;
}
/* .searchBar{
    font-size: 1.5rem;
} */

.nav_items:hover{
    background-color: aquamarine;
    border-radius: 2rem;
}

.searchBar{
    margin: .5rem 0;
    width: 11rem;
    border-radius: 1rem;
    margin-left: .65rem;
}

.nav_items:not(:last-child){
    margin-bottom: .75rem;
}