*{
    padding: 0;
    margin: 0;
    border: 0;
}

.NavLinks{
    display: flex;
    text-align: center;
    color: #AAC8A7;
}

.navlink{
    text-decoration: none;
    background: #C9DBB2;
    padding: 10px;
    color: black;
    flex-grow: 1;
    display: block;
    position: relative;
    font-weight: bold;
}

nav input{
    margin: 10px;
    margin-bottom: 2px;
    width: 300px;
    height: 25px;
}

.navlink:hover{
    background-color: #AAC8A7;
}

.searchSuggestion{
    /* border: 2px solid red; */
    display: flex;
    width: 300px;
    margin-left: 10px;
    position: absolute;
    background-color: #AAC8A7;
    /* height: 20px; */
    
}

.searchSuggestion:hover{
    background-color: white;

}

.titleNav{
    color: black;
    font-size: 15px;
    overflow: hidden;
}

.authNav{
    color: black;
    font-size: 12px;
    overflow: hidden;
}

.imageNav{
    height: 30px;
}

.h1{
    text-decoration: none;
    color: black;
    padding: 5px;
/*    padding-left: 20px;*/
    padding-right: 50px;
    background: #C9DBB2;

    display: flex;
}

#img{
    width: 10px;
    height: auto;
}

.searchBar{
        border-radius: 8px;
        margin: 8px;
}

.navSearch{
    background: #C9DBB2;
}

/*profile dropdown*/

.dropdownContent{

  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f9f9f9;
/*  min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
  margin-left: -10px;
}


.visible {
  display: block;
}



.h4{
    width: 100%;
}
