*{
    padding: 0;
    margin: 0;
    border: 0;
}

ul{
    list-style-type: none;
    display: flex;
    background: black;
    flex-wrap: wrap;
}

li{
    flex-grow: 1;
    text-align: center;
    color: #fff;
}

nav a{
    text-decoration: none;
    padding: 10px;
    color: #fff;
    display: block;
}

nav input{
    margin: 10px;
    margin-bottom: 2px;
    width: 300px;
    height: 25px;
}

nav a:hover{
    background-color: #555;
}

.searchSuggestion{
    display: flex;
    width: 300px;
    margin-left: 10px;
    position: absolute;
    background-color: black;
}

.searchSuggestion:hover{
    background-color: #555;

}

.titleNav{
    color: white;
    font-size: 15px;
    overflow: hidden;
}

.authNav{
    color: white;
    font-size: 12px;
    overflow: hidden;
}

.imageNav{
    height: 30px;
}
