
.popUpParent{
	background-color: mintcream;

	position: absolute;
	z-index: 999;

	display: flex;
	justify-content: center;
	align-items: center;

/*	border: 5px solid green;*/
/*	margin-top: 1.25%;*/
	padding: 5px;
	width: 100%;
	height: 80%;

}

.popUp{
	background-color: yellow;
}

button{
	padding: 15px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: mintcream;
}

button:hover{
	background-color: #C9DBB2;
}

.titlePop{
	font-size: 80px;
}

.authPop{
	font-size: 50px;
}