.mainDiv{
	border: 1px solid grey;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	height: 95vh;
	width: 40%;
	margin-left: 30%;

}

.textarea{
	display: flex;
	align-items: flex-end;
	padding: 10px;
	flex-direction: column;
}

#textarea {
	border-bottom: 1px solid grey;
	width: 300px;
	/* border-radius: 15px; */
	margin-bottom: 10px;
	padding: 10px;
	resize: none;
	
}

#button{
	padding: 10px;
	border-radius: 20px;
	border: 2px solid gray;
	box-shadow: 2px 2px black;
}

.updates{
	/* border: 2px solid red; */
	width: 40vw;
	/* height: 200px; */
	padding: 5px;
}

.post{
	display: flex;
	flex-direction: column;
	border: .5px solid grey;
	max-height: 10rem;
	padding: 10px;
	/* border-radius: 20px; */
	/* margin-bottom: 10px; */
}
.post:hover{
	background-color: rgba(128, 128, 128, 0.08);
}

.likeandcomment{
	/* display: flex; */
	/* justify-content: flex-end; */
	/* background-color: aqua; */
	/* margin-left: auto; */
}



.imageAndName{
	display: flex;
	column-gap: 10px;
}

.trash, .like, .comment {
	width: 1rem;
	height: 1rem;
	padding: .25rem;
	margin-left: auto;
	float: right;
}
.trash:hover, .like:hover, .comment:hover{
	background-color: rgba(128, 128, 128, 0.5);
	border-radius: 1.5rem;
}

.likeCount{
	/* display: inline; */
	float: right;
	font-size: 14px;
}

/*
#comments{
	display: none;
}*/