.mainDiv{
	/* border: 2px solid black; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.textarea{
	display: flex;
	align-items: flex-end;
	padding: 10px;
	flex-direction: column;
}

#textarea {
	border: 1px solid black;
	width: 300px;
	border-radius: 15px;
	margin-bottom: 10px;
	padding: 10px;
	resize: none;
	
}

#button{
	padding: 7px;
	border-radius: 8px;
	border: 2px solid gray;
	box-shadow: 2px 2px black;
}

.updates{
	/* border: 2px solid red; */
	width: 40vw;
	/* height: 200px; */
	padding: 5px;
}

.post{
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	min-height: 60px;
	padding: 10px;
	border-radius: 20px;
	margin-bottom: 10px;
}

.likeandcomment{
	display: flex;
	justify-content: flex-end;
	
}

.like{

}
.comment{

}

.imageAndName{
	display: flex;
	column-gap: 10px;
}

/*
#comments{
	display: none;
}*/